@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --main-color: #8b5cf6;
    --main-color-light: #a389f4;
    --main-color-dark: #6614eb;
}

* {
    box-sizing: border-box;
    outline: 100;
}

body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

h2 {
    color: rgb(255, 255, 255);
    align-items: center;
}

.container {
    margin: 30px auto;
    border-radius: 2em;
    width: 500px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 30px 50px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.5s ease;
}

h4 {
    text-align: center;
    color: rgb(122, 127, 127);
    padding-top: 15px;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    color: var(--main-color-dark);
    text-align: center;
    margin-top: 15px;
    transition: color 0.5s ease;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    text-align: center;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-radius: 10px;
    transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

.inc-exp-container>div {
    flex: 1;
    text-align: center;
}

.inc-exp-container>div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}

input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
    background-color: #45ca6d;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 30px;
    margin-left: 25px;
    padding: 10px;
    width: 90%;
    border-radius: 1em;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #3aa35f;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:active {
    background-color: #2e814b;
}

.btn-despesa {
    cursor: pointer;
    background-color: #cf5858;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 30px;
    margin-left: 25px;
    padding: 10px;
    width: 90%;
    border-radius: 1em;
}

.btn-despesa:hover {
    transform: scale(1.05);
    background-color: #c24b4b;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-despesa:active {
    background-color: #2e814b;
}

.btn:focus,
.delete-btn:focus {
    outline: 0;
}

.transactions {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.transactions li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.transactions li.plus {
    border-right: 5px solid #2ecc71;
}

.transactions li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
    opacity: 1;
}